<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>AutoScoring Program!!</h1>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">자동 채점 기계!</h1>
          <p class="lead text-muted">영어 쪽지 시험과 유아용 수학 학습지 시험 체점 기능까지 구현</p>
        </div>
      </section>
    </main>

    <div>
      <h4 class="mb-3">TestSheetType</h4>

      <form method="POST" action="/test_type">
        Number  <input type="radio" value = "1" name="myradio"></input>
        English  <input type="radio" value = "2" name="myradio"></input>
        <input type="submit"></input>
      </form>
    </div>

    <div>
      <h4 class="mb-3">EmptySheet</h4>
      <form action="http://localhost:5000/EmptySheet_uploaded" 
        method="POST" enctype="multipart/form-data">
        <input type="file" name="EmptySheet"></input>
        <input type="submit"></input>
      </form>
    </div>

    <div>
      <h4 class="mb-3">AnswerSheet</h4>
      <form action="http://localhost:5000/AnswerSheet_uploaded" 
        method="POST" enctype="multipart/form-data">
        <input type="file" name="AnswerSheet"></input>
        <input type="submit"></input>
      </form>
    </div>

    <div>
      <h4 class="mb-3">StudentSheet</h4>
      <form action="http://localhost:5000/StudentSheet_uploaded" 
        method="POST" enctype="multipart/form-data">
        <input type="file" name="StudentSheet"></input>
        <input type="submit"></input>
      </form>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>